<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="a.b.c.com.emp.dao.SpringEmpDAO">

<!-- 
sqlSession.selectList("springEmpSelectAll");
 -->
<select id="springEmpSelectAll" resultType="springempvo">
	SELECT 
	       	A.EMPNO        	EMPNO
           ,A.ENAME        	ENAME
           ,TO_CHAR(TO_DATE(A.HIREDATE), 'YYYY-MM-DD')  	HIREDATE
  	 FROM   EMP A			
</select>

<!-- 
sqlSession.selectList("springEmpSelect", evo);
 -->
<select id="springEmpSelect" parameterType="springempvo" resultType="springempvo">
	SELECT 
					 A.EMPNO        	 EMPNO
					,A.ENAME        	ENAME
					,TO_CHAR(TO_DATE(A.HIREDATE), 'YYYY-MM-DD')  	HIREDATE
	FROM   EMP A	
	WHERE  1=1	
  	<if test="searchFilter=='key_01'">
		<![CDATA[ AND A.EMPNO LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%']]>				
	</if>
	<if test="searchFilter=='key_02'">
		<![CDATA[ AND A.ENAME LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%']]>
	</if>
	<if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
		<![CDATA[ AND TO_CHAR(TO_DATE(A.HIREDATE), 'YYYY-MM-DD') 
					>= TO_CHAR(TO_DATE(#{startDate, jdbcType=VARCHAR}), 'YYYY-MM-DD')]]>
		<![CDATA[ AND TO_CHAR(TO_DATE(A.HIREDATE), 'YYYY-MM-DD') 
					<= TO_CHAR(TO_DATE(#{endDate, jdbcType=VARCHAR}), 'YYYY-MM-DD')]]>
	</if>	
</select>

<insert id="springEmpInsert" parameterType="springempvo">

	INSERT INTO EMP( EMPNO, ENAME, HIREDATE) 
	         VALUES( #{empno, jdbcType=VARCHAR}, #{ename, jdbcType=VARCHAR}, #{hiredate, jdbcType=VARCHAR})
</insert>


<update id="springEmpUpdate" parameterType="springempvo">

	UPDATE EMP SET ENAME=#{ename, jdbcType=VARCHAR}, HIREDATE=#{hiredate, jdbcType=VARCHAR}
	WHERE EMPNO = #{empno, jdbcType=VARCHAR}
</update>
</mapper>



