<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="a.b.c.com.kosmo.product.dao.KosmoProductDAO">

<insert id="kosmoProductInsert" parameterType="kosmoproductvo" >
	
	INSERT INTO KOSMO_PRODUCT (	KPNUM, KPID, KPNAME, 
								KPCOMPANY, KPFILE, KPCNT, 
								KPPRICE, KPDESC, DELETEYN, 
								INSERTDATE, UPDATEDATE)
            			VALUES( #{kpnum}, 
            					#{kpid}, 
            					#{kpname}, 
            					#{kpcompany}, 
            					#{kpfile}, 
            					#{kpcnt}, 
            					#{kpprice}, 
            					#{kpdesc}, 
            					'Y', 
            					SYSDATE, 
            					SYSDATE)
</insert>

<select id="kosmoProductSelectAll" parameterType="kosmoproductvo" resultType="kosmoproductvo">	
	SELECT * FROM (
		SELECT 	A.KPNUM 	KPNUM
		       ,A.KPID 		KPID
		       ,A.KPNAME 	KPNAME
		       ,A.KPCOMPANY KPCOMPANY
		       ,A.KPFILE 	KPFILE
		       ,A.KPCNT 	KPCNT
		       ,A.KPPRICE 	KPPRICE
		       ,A.KPDESC 	KPDESC
		       ,A.DELETEYN 	DELETEYN
		       ,TO_CHAR(A.INSERTDATE, 'YYYY-MM-DD') INSERTDATE
		       ,TO_CHAR(A.UPDATEDATE, 'YYYY-MM-DD') UPDATEDATE	 
		        <!--  ? : 페이지 사이즈 : pageSize  -->
		       ,CEIL(ROW_NUMBER() OVER(ORDER BY A.KPNUM)/ #{pageSize} ) pageSize		
			   ,COUNT(A.KPNUM) OVER() AS totalCount 
		FROM 	KOSMO_PRODUCT A
		WHERE 	A.DELETEYN = 'Y' 	
		ORDER BY 1 DESC  
		<!--  ? : 현재 페이지 : curPage -->
	) WHERE pageSize = #{curPage}
</select>

<select id="kosmoProductSelect" parameterType="kosmoproductvo" resultType="kosmoproductvo">	
	
		SELECT 	A.KPNUM 	KPNUM
		       ,A.KPID KPID
		       ,A.KPNAME 	KPNAME
		       ,A.KPCOMPANY KPCOMPANY
		       ,A.KPFILE 	KPFILE
		       ,A.KPCNT 	KPCNT
		       ,A.KPPRICE 	KPPRICE
		       ,A.KPDESC 	KPDESC
		       ,A.DELETEYN 	DELETEYN
		       ,TO_CHAR(A.INSERTDATE, 'YYYY-MM-DD') INSERTDATE
		       ,TO_CHAR(A.UPDATEDATE, 'YYYY-MM-DD') UPDATEDATE	  
		FROM 	KOSMO_PRODUCT A
		WHERE 	A.DELETEYN = 'Y' 
		AND     A.KPNUM = #{kpnum}	
</select>
</mapper>      