<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
          
<mapper namespace="a.b.c.test.emp.dao.EmpDAO">

<resultMap type="a.b.c.test.dept.vo.DeptVO" id="dvo_Map">
	<result column="DNAME" property="dname" />
</resultMap>
<resultMap type="a.b.c.test.emp.vo.EmpVO" id="evo">
	<result column="EMPNO" property="empno" />
	<collection property="dvo" resultMap="dvo_Map" />
</resultMap>
<select id="empSelect" resultMap="evo">	
	
		SELECT 	 A.EMPNO 		EMPNO
				,B.DNAME        DNAME
		FROM 	EMP A, DEPT B
		WHERE   A.DEPTNO = B.DEPTNO
		
</select> 

</mapper>      